.connect {
  display: flex;
  align-items: flex-end;
  padding: 0 3rem;
  margin-bottom: auto;

  & .left{
    min-width: 6rem;
  }

  & h3 {
    font-weight: 500;
  }

  &__handler {
    font-weight: 700;
    display: flex;
    align-items: center;
  }

  &__designation {
    margin: 6px 0;
  }

  &__site {
    color: #acacac;
    opacity: 0;
  }

  &__site-active {
    opacity: 1;
    color: #acacac;
    transition: 800ms ease-in-out;
  }

  &__provider {
    margin-left: 0.4rem;
    cursor: pointer;
  }
}
