.details {
  display: grid;
  grid-template-columns: 2fr 4fr;

  &__left {
    margin-left: 9rem;
  }
  &__right {
    margin-right: 18rem;

    &__skills,
    &__techs {
      &-list {
        @include list-images();
        & img {
          @include details-image();
        }
      }
    }

    &__techs {
      @include common-marginTop();
    }

    &__experience {
      @include common-marginTop();
      &-list {
        display: flex;
        gap: 1rem;
      }
    }

    &__projets {
      @include common-marginTop();
    }
  }
}
