.experienceCard {
  background-color: #f1f1f1;
  width: fit-content;
  padding: 0.8rem;
  border-radius: 6px;

  & p {
    margin: 0.4rem 0;
  }

  &__company {
    font-weight: bold;
  }

  &__designation {
  }

  &__timeline {
    font-size: 12px;
  }
}
