.home {
  padding: 4rem;

  &__banner {
    display: grid;
    grid-template-columns: 0.4fr 2fr 1fr;
  }

  &__section {
    display: grid;
    grid-template-columns: 2fr 4fr;

    &__item {
      margin-bottom: 2rem;
    }

    & .right {
      &__skills {
        &-list {
          display: flex;
          margin-right: 6px;
        }
      }

      &__experience {
        &-list {
          display: flex;
          & div {
            margin-right: 1rem;
          }
        }
      }

      &__projects {
        &-list {
        }
      }
    }
  }
}
