:root {
  --bg-color: black;
  --primay-font-color: white;
  --secondary-font-color: black;
  --card-color: #2f2f2f;
}

.dark-theme {
  background: var(--bg-color);
  color: var(--primay-font-color);
  transition: 0.3s;

  .placeholder,
  .experienceCard,
  .pill {
    background-color: var(--card-color);
  }
}
