:root {
  --bg-dark-color: black;
  --primay-dark-font-color: white;
  --secondary-dark-font-color: black;
  --card-dark-color: #2f2f2f;
}

.dark-theme {
  background: var(--bg-dark-color);
  color: var(--primay-dark-font-color);
  transition: 0.5s ease-in-out;

  .placeholder,
  .experienceCard,
  .pill {
    background-color: var(--card-dark-color);
    transition: background-color 0.3s ease-in-out;
  }

  .switch{
    background-color: var(--card-color);
  }
}
